input[type="text"], input[type="password"], input[type="email"]{
    width: 40%;
    margin-bottom: 20px;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    line-height: 1.7em;
    font-size: 1em;
}
input[type="submit"] {
    border: none;
    width: 41.5%;
    background-color: #123365;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
    line-height: 2em;
    color: #FFFFFF; 
    font-size: 1.5em;
    font-weight: bold;       
}
input[type="submit"]:hover {
    width: 41.75%;
    margin-left: -0.125%;
    background: #123391;
    color: #EEEEEE;
    cursor: pointer;
}
.alert {
    display: inline-block;
}
input[type="checkbox"]{
    cursor: pointer;
}
input[type="file"]{
    margin-right: 3%;
}