/* pro vsechny */
.welcome {
    text-align:center;
}
.news {
    background-color: #123368;
    border-radius: 15px;
    min-height: 250px;
    padding: 5px 10px 10px 10px;
    text-align: center;
    color: white;
    float: left;   
}
/* prihlasovani */
.login {    
    text-align: center;
}        
.nadpis {
        font-size: 2.3em;
        margin-bottom: 10%;
}
input[type="text"], input[type="password"], input[type="email"]{
        font-size: 1em;
        margin-bottom: 20px;
        border-radius: 5px;
        line-height: 1.7em;
        padding: 10px 10px 10px 10px;
}
input[type="submit"] {
        line-height: 2em;
        background-color: rgb(18,51,101);
        border-radius: 5px;
        padding: 5px 5px 5px 5px;
        color: white; 
        font-size: 1.5em;
        font-weight: bold;
        border:  none ;       
}
input[type="submit"]:hover {
        background: rgb(18,51,145);
        color: #EEEEEE;
        cursor: pointer;
}
form a {
        display: inline-block;
        text-align: right;
        font-size: 1em;
        margin-left: 60%;
        margin-bottom: 3%;
        color: rgb(18,51,101);
}
#chybneUdaje {
    visibility: hidden;
    margin-bottom: 10px;
    font-size: 1.2em;
    color: red;
    font-weight: bold;
    text-align: right;
    padding-right: 15px;
}
#user {
     display: inline-block;
     text-align: right;
}
#user a {
    border-radius: 15px;
    text-align: center;
    display: inline-block;
    background: rgb(18,51,145);
    width: 50%;
    padding: 5px 5px 5px 5px;
    color: #EEEEEE;
    cursor: pointer;
    margin-top: 10px;
}
/* chat */
.messenger-box {
    float: left;
}
#messenger {
    display: inline-block;
    font-size: 1em;
    border-radius: 5px;
    line-height: 1em;
    padding: 10px 10px 10px 10px;
    border: thick solid #123368;
    overflow-y: scroll;
    overflow-x: hidden;
}
#message {
    border: thick solid #123368;
    display: inline-block;
}
/* tabulka smajlíků */
.eTable {
    display: none;
    font-size: 2em;
    border: thick solid #123368;
    border-radius: 5px;
    -webkit-user-select: none;  
    -moz-user-select: none;     
    -ms-user-select: none;      
    user-select: none;
    position: absolute;
    background-color: white;
}
.eTable > div {
    display: inline-block;
    cursor: pointer;
}
#eButton {
    width: 10%;
    display: inline-block;
    border-radius: 5px;
    cursor: pointer;     
}
/* uvnitř chatu */
.zprava {
    min-height: 1em;
}
.zprava img {
    width: 75px;
    height: 75px;
    border-radius: 75px;
    border: thick solid #123368;
    display: inline-block;
    float: left;
}
.zprava .messages{
    border: thin solid #123368;
    background-color: #123368;
    color: white;
    display: inline-block;
    border-radius: 20px;
    text-align: left;
    padding: 5px 5px 5px 10px;
}
.zprava .messages:hover{
    background-color: #191970;
    cursor: pointer;
    border-bottom: thin solid grey;
}
.zprava .dates{
    display: inline-block;
    visibility: hidden;
    margin-bottom: 10px;
    color: rgb(68,68,68);
    font-style: italic;
}
#loadNext {
    font-style: italic;
    color: #123368;
    margin-bottom: 10px;
    cursor: pointer;
}
.leve {
    float: left;
}
.leve .users {
    border-bottom: thick solid grey;
    padding: 10px 0 10px 10px;
    white-space: nowrap;
}
.leve .users .name {
    display: inline-block;
    height: 100%;
    padding-top: 0.4em;
    overflow: hidden;
    
}
.leve .users img {
    width: 40px;
    height: 40px;
    border-radius: 40px;  
}
.leve .users:first-child {
    background-color: #123368;
    color: white;
}
/* pc */
@media (min-width: 1000px){
.welcome {
    width: 50%;
    float: left;
}
.news {
    display: inline-block;
    width: 50%;
    margin-top: 20px;
}
.blick{
    box-shadow: 0px 1px 5px #123368;
}
/* prihlasovani */
.login {    
    display: inline-block;
    border: thick solid black;
    margin-top: 60px;
    margin-right: 5%;
    width: 30%;
    height: 400px;
    padding: 20px 20px 0 20px;
    float: right;
}
input[type="text"], input[type="password"]{
        width: 85%;
}
input[type="submit"] {
        width: 90%;      
}
input[type="submit"]:hover {
        width: 90.5%;
}
#content {
    text-align: center;
}
#user {
     border: thick solid black;
     padding: 10px 10px 10px 10px;
     width: 25%;
     height: 100px;
     float: right;
}
/* chat */
.messenger-box {
    width: 50%;
    margin-left: 12%;
}
#messenger {
    width: 81%;
    height: 200px;
    margin-bottom: 20px;
    margin-right: 15%;
    float: left;
    -ms-scrollbar-arrow-color: white;
    -ms-scrollbar-face-color: #123368;
    -ms-scrollbar-track-color: white;
}
/* scrollbar */
#messenger::-webkit-scrollbar,.leve::-webkit-scrollbar {
    width: 20px;
}
/* tělo */ 
#messenger::-webkit-scrollbar-track,.leve::-webkit-scrollbar-track {
    background: white;
   }
/* posuvník */ 
#messenger::-webkit-scrollbar-thumb, .leve::-webkit-scrollbar-thumb {
    background: #123368;
    border-radius: 20px;
    border: thick solid white;
   }
/* šipky */
#messenger::-webkit-scrollbar-button, .leve::-webkit-scrollbar-button {
    background: white;
}
/*  */
#messenger:hover {
    overflow-y: scroll;       
}
#message {
    width: 81%;
    float: left;
}
/* tabulka smajlíků */
.eTable {
    padding: 0.5em;
    width: 11em;
    left: 32.65%;
    top: 41%;
}
#eButton {
    padding-top: 1%; 
}
#eButton img {
    width: 80%;
}

/* uvnitř chatu */
.zprava {
    margin-bottom: 50px;
}
.zprava .messages{
    width: 50%;
    height: 75%;
    margin-right: 10px;
    margin-left: calc(15% - 6%);
}
.zprava .dates{
    width: 30%;
    margin-left: calc(50% - 11%);
}
.leve {
    width: 20%;
    display: inline-block;
    border: thick solid grey;
    overflow-y: scroll;
}
.prave {
    width: 78%;
    display: inline-block;
}
.leve .users {
    display: block;
    margin: 10px 10px 10px 10px;
    border-radius: 40px;    
    text-align: left;
    height: 40px;
    cursor: pointer;
}
.leve .users .name {
    margin-left: 20px;
    font-size: 1em;
}
.leve .users img {
    float: left;    
}
}
/* mobily */
@media (max-width: 1000px){
.welcome2 h1 {
    display:none;
}
.welcome {
}
.news {
    width: 90%;
    margin-top: 40px;
    margin-left: 5%;
    margin-bottom: 10%; 
}
.news h1 {
    font-size: 2em;
}
/* prihlasovani */
.login{
    display: block;
    border: 5px solid black;
    margin-top: 20px;
    margin-left: 4%;
    float: left;
    width: 90%;
    padding: 10px 10px 20px 10px;
}
.nadpis {
}
input[type="text"], input[type="password"]{
    width: 80%;
}
input[type="submit"] {
    width: 50%;       
}
input[type="submit"]:hover {
}
form a {
}
#chybneUdaje {
}
#user {
    font-size: 1.2em;
    box-shadow: 0px 1px 2px white,0px -1px 2px white;
    border-radius: 15px;
    margin-top: 20px;
    padding: 20px 20px 40px 10px;
    width: 80%;
    height: 60px;
    background-color: white;
}
#user a {
}
/* chat */
.messenger-box{
    width: 80%;
    margin-left: 10%;
    display: block;
}
#messenger { 
    width: 100%;
    height: 40vh;
    margin-bottom: 15px;
}
/* scrollbar */
.leve::-webkit-scrollbar{
    display: none;
}
#messenger::-webkit-scrollbar {
    height: 20px;
    width: 20px;
}
/* tělo */ 
#messenger::-webkit-scrollbar-track {
    background: white;
   }
/* posuvník */ 
#messenger::-webkit-scrollbar-thumb {
    background: #123368;
    border-radius: 20px;
    border: thick solid white;
   }
/* šipky */
#messenger::-webkit-scrollbar-button{
    background: white;
}
#message {
    width: 80%;
    margin-bottom: 0;
}
/* tabulka smajlíků */
.eTable {
    padding: 0.4em;
    width: 9em;
    left: 9.5%;
    top: 46.5%;
}
.eTable > div {
}
#eButton {
    margin-left: 2%;     
}
#eButton img {
    position: relative;
    width: 120%;
}
/* uvnitř chatu */
.zprava {
    min-height: 80px;
}
.zprava img {
    width: 60px;
    height: 60px;
}
.zprava .messages{
    width: 50%;
    height: 75%;
    margin-left: 10%;
}
.zprava .messages:hover{
}
.zprava .dates{
    width: 28%;
    margin-left: 35%;
}
#loadNext {
}
.leve {
    width: 100%;
    height: 130px;
    display: block;
    overflow-y: hidden;
    overflow-x: scroll;
    margin-bottom: 20px;
    padding-right: 5%;
    white-space: nowrap;
}
.prave {
    width: 100%;
    display: block;
}
.leve .users {
    display: inline-block;
    margin: 10px 0 10px 10px;
    border-right: thin solid grey;
    border-left: thin solid grey;
    border-radius: 5px;
    height: 90px;
    width: 75px;
    text-align: center;
}
.leve .users .name {
    float: right;
    text-align: center;
    white-space: normal;
    text-overflow: ellipsis;
}
}