/* pro vsechny */
.welcome {
    text-align:center;
}
.news {
    min-height: 250px;
    float: left;
    text-align: center;
    border-radius: 15px;
    padding: 5px 10px 10px 10px;
    background-color: #123368;
    color: #FFFFFF;   
}
.news div {
    display: inline-block;
    text-align: left;
    width: 85%;
    margin-bottom: 20px;
    padding: 10px 10px 10px 10px;
    border: thick solid #FFFFFF;
    border-radius: 15px;
}
.news div a {
    color: #FFFFFF;
    text-decoration: underline;
}
.news div h3 {
    text-decoration: underline;
}
/* prihlasovani */
.login {    
    text-align: center;
}        
.nadpis {
    margin-bottom: 10%;
    font-size: 2.3em;
}
input[type="text"], input[type="password"], input[type="email"]{
    margin-bottom: 20px;
    padding: 10px 10px 10px 10px;
    font-size: 1em;
    line-height: 1.7em;
    border-radius: 5px;
}
input[type="submit"] {
    border:  none;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
    background-color: #123365;
    color: #FFFFFF;
    line-height: 2em; 
    font-size: 1.5em;
    font-weight: bold;       
}
input[type="submit"]:hover {
    background: #123391;
    color: #EEEEEE;
    cursor: pointer;
}
form a {
    display: inline-block;
    text-align: right;
    margin-left: 60%;
    margin-bottom: 3%;
    font-size: 1em;
    color: #123365;
}
#chybneUdaje {
    visibility: hidden;
    margin-bottom: 10px;
    padding-right: 15px;
    font-size: 1.2em;
    text-align: right;
    color: #E50000;
    font-weight: bold;
}
#user {
    display: inline-block;
    text-align: right;
}
#user a {
    display: inline-block;
    width: 50%;
    border-radius: 15px;
    text-align: center;
    margin-top: 10px;
    padding: 5px 5px 5px 5px;
    background: #123391;
    color: #EEEEEE;
    cursor: pointer;
}
/* chat */
.messenger-box {
    float: left;
}
#messenger {
    display: inline-block;
    padding: 10px 10px 10px 10px;
    border: thick solid #123368;
    border-radius: 5px;
    line-height: 1em;
    font-size: 1em;
    overflow-y: scroll;
    overflow-x: hidden;
}
#message {
    display: inline-block;
    border: thick solid #123368;
}
/* tabulka smajlíků */
.eTable {
    position: absolute;
    display: none;
    font-size: 2em;
    border: thick solid #123368;
    border-radius: 5px;
    background-color: #FFFFFF;
    -webkit-user-select: none;  
    -moz-user-select: none;     
    -ms-user-select: none;      
    user-select: none;
}
.eTable > div {
    display: inline-block;
    cursor: pointer;
}
#eButton {
    display: inline-block;
    width: 10%;
    border-radius: 5px;
    cursor: pointer;     
}
/* uvnitř chatu */
.zprava {
    min-height: 1em;
}
.zprava img {
    display: inline-block;
    width: 75px;
    height: 75px;
    border-radius: 75px;
    border: thick solid #123368;
    float: left;
}
.zprava .messages{
    display: inline-block;
    padding: 5px 5px 5px 10px;
    background-color: #123368;
    border: thin solid #123368;
    border-radius: 20px;
    text-align: left;
    color: #FFFFFF;
}
.zprava .messages:hover{
    border-bottom: thin solid #808080;
    background-color: #191970;
    cursor: pointer;
}
.zprava .dates{
    display: inline-block;
    visibility: hidden;
    margin-bottom: 10px;
    color: #444444;
    font-style: italic;
}
#loadNext {
    margin-bottom: 10px;
    font-style: italic;
    color: #123368;
    cursor: pointer;
}
.leve {
    float: left;
}
.leve .users {
    padding: 10px 0 10px 10px;
    border-bottom: thick solid #808080;
    white-space: nowrap;
}
.leve .users .name {
    display: inline-block;
    height: 100%;
    padding-top: 0.4em;
    overflow: hidden;
}
.leve .users img {
    width: 40px;
    height: 40px;
    border-radius: 40px;  
}
.leve .users:first-child {
    background-color: #123368;
    color: #FFFFFF;
}
/* pc */
@media (min-width: 1000px){
.welcome {
    width: 50%;
    float: left;
}
.news {
    display: inline-block;
    width: 50%;
    margin-top: 20px;
}
.blick{
    box-shadow: 0px 1px 5px #123368;
}
/* prihlasovani */
.login {    
    display: inline-block;
    border: thick solid #000000;
    width: 30%;
    height: 400px;
    margin-top: 60px;
    margin-right: 5%;
    padding: 20px 20px 0 20px;
    float: right;
}
input[type="text"], input[type="password"]{
    width: 85%;
}
input[type="submit"] {
    width: 90%;      
}
input[type="submit"]:hover {
    width: 90.5%;
}
#content {
    text-align: center;
}
#user {
    width: 25%;
    height: 100px;
    border: thick solid #000000;
    padding: 10px 10px 10px 10px;
    float: right;
}
/* chat */
.messenger-box {
    width: 50%;
    margin-left: 12%;
}
#messenger {
    width: 81%;
    height: 200px;
    margin-bottom: 20px;
    margin-right: 15%;
    float: left;
    -ms-scrollbar-arrow-color: #FFFFFF;
    -ms-scrollbar-face-color: #123368;
    -ms-scrollbar-track-color: #FFFFFF;
}
/* scrollbar */
#messenger::-webkit-scrollbar,.leve::-webkit-scrollbar {
    width: 20px;
}
/* tělo */ 
#messenger::-webkit-scrollbar-track,.leve::-webkit-scrollbar-track {
    background: #FFFFFF;
   }
/* posuvník */ 
#messenger::-webkit-scrollbar-thumb, .leve::-webkit-scrollbar-thumb {
    background: #123368;
    border-radius: 20px;
    border: thick solid #FFFFFF;
   }
/* šipky */
#messenger::-webkit-scrollbar-button, .leve::-webkit-scrollbar-button {
    background: #FFFFFF;
}
/*  */
#messenger:hover {
    overflow-y: scroll;       
}
#message {
    width: 81%;
    float: left;
}
/* tabulka smajlíků */
.eTable {
    width: 11em;
    top: 41%;
    left: 32.65%;
    padding: 0.5em;
}
#eButton {
    padding-top: 1%; 
}
#eButton img {
    width: 80%;
}
/* uvnitř chatu */
.zprava {
    margin-bottom: 50px;
}
.zprava .messages{
    width: 50%;
    height: 75%;
    margin-right: 10px;
    margin-left: calc(15% - 6%);
}
.zprava .dates{
    width: 30%;
    margin-left: calc(50% - 11%);
}
.leve {
    width: 20%;
    display: inline-block;
    border: thick solid #808080;
    overflow-y: scroll;
}
.prave {
    display: inline-block;
    width: 78%;
}
.leve .users {
    display: block;
    height: 40px;
    margin: 10px 10px 10px 10px;
    border-radius: 40px;    
    text-align: left;
    cursor: pointer;
}
.leve .users .name {
    margin-left: 20px;
    font-size: 1em;
}
.leve .users img {
    float: left;    
}
}
/* mobily */
@media (max-width: 1000px){
.welcome2 h1 {
    display: none;
}
.welcome {
}
.news {
    width: 90%;
    margin-top: 40px;
    margin-left: 5%;
    margin-bottom: 10%; 
}
.news h1 {
    font-size: 2em;
}
/* prihlasovani */
.login{
    display: block;
    width: 90%;
    margin-top: 20px;
    margin-left: 4%;
    padding: 10px 10px 20px 10px;
    border: 5px solid black;
    float: left;
}
input[type="text"], input[type="password"]{
    width: 80%;
}
input[type="submit"] {
    width: 50%;       
}
#user {
    width: 80%;
    height: 60px;
    margin-top: 20px;
    padding: 20px 20px 40px 10px;
    background-color: #FFFFFF;
    border-radius: 15px;
    font-size: 1.2em;
    box-shadow: 0px 1px 2px white,0px -1px 2px #FFFFFF;
}
/* chat */
.messenger-box{
    display: block;
    width: 80%;
    margin-left: 10%;
}
#messenger { 
    width: 100%;
    height: 40vh;
    margin-bottom: 15px;
}
/* scrollbar */
.leve::-webkit-scrollbar{
    display: none;
}
#messenger::-webkit-scrollbar {
    height: 20px;
    width: 20px;
}
/* tělo */ 
#messenger::-webkit-scrollbar-track {
    background: #FFFFFF;
}
/* posuvník */ 
#messenger::-webkit-scrollbar-thumb {
    background: #123368;
    border-radius: 20px;
    border: thick solid #FFFFFF;
}
/* šipky */
#messenger::-webkit-scrollbar-button{
    background: #FFFFFF;
}
#message {
    width: 80%;
    margin-bottom: 0;
}
/* tabulka smajlíků */
.eTable {
    width: 9em;
    left: 9.5%;
    top: 46.5%;
    padding: 0.4em;
}
#eButton {
    margin-left: 2%;     
}
#eButton img {
    position: relative;
    width: 120%;
}
/* uvnitř chatu */
.zprava {
    min-height: 80px;
}
.zprava img {
    width: 60px;
    height: 60px;
}
.zprava .messages{
    width: 50%;
    height: 75%;
    margin-left: 10%;
}
.zprava .dates{
    width: 28%;
    margin-left: 35%;
}
.leve { 
    display: block;
    width: 100%;
    height: 130px;
    margin-bottom: 20px;
    padding-right: 5%;
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap;
}
.prave {
    display: block;
    width: 100%;
}
.leve .users {
    display: inline-block;
    height: 90px;
    width: 75px;
    margin: 10px 0 10px 10px;
    border-right: thin solid #808080;
    border-left: thin solid #808080;
    border-radius: 5px;
    text-align: center;
}
.leve .users .name {
    float: right;
    text-align: center;
    white-space: normal;
    text-overflow: ellipsis;
}
}