label {
    font-size: 1.1em;
}
input[type="email"]{
    width: 240px;
    margin-left: 12px;
    margin-bottom: 20px;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    line-height: 1em;
    font-size: 1em;
}
input[type="submit"] {
    width: 100px;
    margin-left: 12px;
    padding: 5px 5px 5px 5px;
    background-color: #123365;
    border:  none;
    border-radius: 5px;
    line-height: 1.3em;
    color: #FFFFFF; 
    font-size: 1.5em;
    font-weight: bold;       
}
input[type="submit"]:hover {
    width: 100px;
    margin-left: 11.25px;
    background: #123391;
    color: #EEEEEE;
    cursor: pointer;
}